<div fxFlex="50">
  <mat-card>
    <mat-card-header>
      <h1>Register a pet</h1>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column">
        <h2>Quick Information</h2>

        <mat-form-field fxFlex>
          <input [(ngModel)]="petName" matInput placeholder="Pet Name">
        </mat-form-field>

        <mat-form-field fxFlex>
          <input [(ngModel)]="petSpecies" matInput placeholder="Pet Species">
        </mat-form-field>

        <mat-form-field fxFlex>
          <textarea [(ngModel)]="petNote" matInput placeholder="Pet Note" matTextareaAutosize matAutosizeMinRows="5">
            </textarea>
        </mat-form-field>

        <div fxLayout="column">
          <h2>Vaccinations</h2>
          <mat-list>
            <mat-list-item>
              <h3 matLine>Vaccination</h3>
              <p matLine>
                <span>Date</span>
              </p>
              <span class="fill-space"></span>
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Vaccination</h3>
              <p matLine>
                <span>Date</span>
              </p>
              <span class="fill-space"></span>
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
          <button mat-raised-button>Add Vaccination Record</button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row">
      <button mat-raised-button color="primary">
        <span fxFlexLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
          <mat-progress-spinner mode="indeterminate" color="warn" fxFlex [diameter]="20"></mat-progress-spinner>
          <span fxFlex>Update Or Add</span>
        </span>
      </button>
      <span class="fill-space"></span>
      <button mat-button>Cancel</button>
    </mat-card-actions>
    <mat-card-footer style="margin:0;">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
