<h2 mat-dialog-title>Vaccination</h2>
<mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Vaccination 1
        </mat-panel-title>
        <mat-panel-description>
          Last Vaccinated on: Today
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Type of Vaccination">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="vaccinationDatepicker" [formControl]="vaccinationDate">
        <mat-datepicker-toggle matSuffix [for]="vaccinationDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #vaccinationDatepicker touchUi="true"></mat-datepicker>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>
