.toolbar-middle-space {
  flex: 1 1 auto;
}

.toolbar-text-logo{
  text-decoration: none;
  color: inherit;
}

#sidenav-container{
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
