<mat-toolbar color="primary">
  <button mat-icon-button td-menu-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <a routerLink="/" class='toolbar-text-logo'>BarkBooking</a>
  </span>
  <span class='toolbar-middle-space'></span>
  <span>Right side</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item routerLink="/">Dashboard</mat-list-item>
      <mat-list-item routerLink="/appointments">Appointments</mat-list-item>
      <mat-list-item routerLink="/customers">Customers</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>

</mat-sidenav-container>
